@import url("styles/header.css");

body {
   background-color: rgba(5, 29, 59, 1);
   display: flex;
   flex-direction: column;
   width: 100vw;
   max-width: 100%;
   box-sizing: border-box;
   padding: 1.5em;
}
