header {
  width: 100%;
  height: 15vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 40px;
}
.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.logo__aluradev {
  width: 80%;
  height: auto;
}
.campo_pesquisa {
  width: 100%;
  padding: 1em 0.5em;
  border-radius: 0.5em;
}
.profile_container {
  display: flex;
  justify-content: end;
  color: white;
  align-items: center;
  gap: 0.1em;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.profile_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
}